html {
  background-color: #a2a0a0;
  color: white;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 20px;
  padding: 4px 4px;
}

.todo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 20px;
  padding: 4px 4px;
}

.todo>* {
  flex: 1 1 260px;
}

.todo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-wrap: anywhere;
  height: 200px;
  width: 200px;
  margin: 10px 20px;
  padding: 4px 4px;
  border: 2px solid black;
  color: black;
  background-color: #523352;
}

label {
  font-size: 22px;
  display: block;
  margin: 8px 6px;
  padding: 4px 4px;
}

input,
textarea {
  display: block;
  background-color: #a4bbbb;
}

#desc {
  width: 407px;
  height: 142px;
}

#title {
  width: 398px;
  height: 27px;
}

.btn {
  border: 1px solid black;
  padding: 5px 25px;
  margin: 7px 5px;
  width: 140px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#submit:hover {
  background-color: #2c9b2c;
}

.edit:hover {
  background-color: #2c9b2c;
}

.del:hover {
  background-color: darkred;
}

#dele:hover {
  background-color: darkred;
}

.btn-card {
  border: 1px solid black;
  padding: 5px 25px;
  margin: 7px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.todo-card-title {
  margin: 7px 7px;
  font-size: 35px;
}

.todo-card-desc {
  margin: 7px 3px;
  font-size: 25px;
}